@model MVCDERSHANE.Models.Entitiy.TBLİLETİSİM
@{
    ViewBag.Title = "İletisimEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CSS İletişim Formu</title>
</head>

<body>
    <h2>İletişim Formu</h2>

    <form class="form-group" method="post">
        <div style="margin-top:15px;">>
        <label>ADI</label>
        <input type="text" class="form-control" name="AD" />
        </div>

        <label>ADI</label>
        <input type="text" class="form-control" name="EPOSTA" />



        <label>ADI</label>
        <input type="text" class="form-control" name="ACIKLAMA" />

        <button class="btn btn-info" id=" Btn1">Kategori Ekle</button>
    </form>

</body>
</html>

