@model MVCDERSHANE.Models.Entitiy.TBLVELİ
@{
    ViewBag.Title = "VeliEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div style="margin-top:15px;">
        <label>AD</label>
        <input type="text" class="form-control" name="AD" />
    </div>
    <div style="margin-top:15px;">
        <label>SOYAD</label>
        <input type="text" class="form-control" name="SOYAD" />
    </div>
    <div style="margin-top:15px;">
        <label>YAKINLIK</label>
        <input type="text" class="form-control" name="YAKINLIK" />
    </div>
    <div style="margin-top:15px;">
        <label>ADRES</label>
        <input type="text" class="form-control" name="ADRES" />
    </div>
    <div style="margin-top:15px;">
        <label>POSTA KODU</label>
        <input type="text" class="form-control" name="POSTAKOD" />
    </div>
    <div style="margin-top:15px;">
        <label>TELEFON</label>
        <input type="text" class="form-control" name="TELEFON" />
    </div>
    <div style="margin-top:15px;">
        <label>TC Kimlik NO</label>
        <input type="text" class=" form-control" name="TC" />
    </div>
    <div style="margin-top:15px;">
        <label>GELİRİ</label>
        <input type="text" class="form-control" name="GELİRİ" />
    </div>
  
    <br />
    <button class="btn btn-info" id=" Btn1">Veli Ekle</button>
</form>

