@model MVCDERSHANE.Models.Entitiy.TBLOGRENCİ

@{
    ViewBag.Title = "OgrenciEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>OgrenciEkle</h2>

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>ADI</label>
        <input type="text" class="form-control" name="AD" />
    </div>
    <div style="margin-top:15px">
        <label>SOYADI</label>
        <input type="text" class="form-control" name="SOYAD" />
    </div>
    <div style="margin-top:15px">
        <label>SINIFI</label>
        <input type="text" class="form-control" name="SINIFI" />
    </div>
    <div style="margin-top:15px">
        <label>CİNSİYETİ</label>
        <input type="text" class="form-control" name="CİNSİYETİ" />
    </div>
    <div style="margin-top:15px">
        <label>ADRES</label>
        <input type="text" class="form-control" name="ADRES" />
    </div>
    <div style="margin-top:15px">
        <label>POSTA KODU</label>
        <input type="text" class="form-control" name="POSTAKOD" />
    </div>
    <div style="margin-top:15px">
        <label>SEMT</label>
        <input type="text" class="form-control" name="SEMT" />
    </div>
    <div style="margin-top:15px">
        <label>ŞEHİR</label>
        <input type="text" class="form-control" name="SEHİR" />
    </div>
    <div style="margin-top:15px">
        <label>TELEFON</label>
        <input type="text" class="form-control" name="TELEFON" />
    </div>
    <div style="margin-top:15px">
        <label>DALI</label>
        <input type="text" class="form-control" name="DALI" />
    </div>
    <div style="margin-top:15px">
        <label>BÖLÜMÜ</label>
        <input type="text" class="form-control" name="BOLUMU" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id=" Btn1">Kategori Ekle</button>
    </div>
</form>
